{% extends "layout/main.twig" %}

{% block style %}
    <style>
        h2 {
            padding-bottom: 0px !important;
        }

        @media (max-width: 768px) {
            .navbar-header img {
                display: none;
            }
        }
        .navbar-header img {
            height: 50px;
            width: 300px;
        }

        #artigo {
            margin-top: 88px;
        }

        #artigo .container {
            background-color: #ccc !important;
        }

        #artigo .container .row {
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <header id="navigation">
        <div class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ RAIZ }}"><h1><img src="{{ RAIZ }}web/images/logo-horizontal.png" alt="logo"></h1></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ RAIZ }}">Home</a></li>
                        <li><a href="javascript:voltaHome();">Voltar</a></li>
                    </ul>
                </div>
            </div>
        </div><!--/navbar-->
    </header> <!--/#navigation-->

    {% include 'pages/home/sections/artigos.twig' %}

{% endblock %}

{% block jsCode %}
    <script>
        function voltaHome(){
            window.history.back();
        }
    </script>
{% endblock %}