<section id="areas-atuacao" class="parallax-section">
    <div class="col-sm-12 text-center topo-section" >
        <h1 class="title-one" style="color: #666666 !important;">Áreas de atuação</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="our-service">
                    <div class="services row">

                        {% for area in areas %}
                            <div class="col-sm-4">
                                <div class="single-service">
                                    <div class="single-service-title">
                                        <h2>{{ area.titulo }}</h2>
                                    </div>
                                    <div class="single-service-body">
                                        <p>{{ area.texto }}</p>
                                    </div>
                                    <div class="single-service-action">
                                        <input type="button" class="btn btn-primary btn-single-service" value="Leia mais">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#service-->
