<section id="areas-atuacao" class="parallax-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Áreas de atuação</h2>
                {#<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>#}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="our-service">
                    <div class="services row">
                        <div class="col-sm-4">
                            <div class="single-service">
                                <i class="fa fa-sitemap"></i>
                                <h2>Direito Constitucional e Administrativo</h2>
                                <p>
                                    Consultoria em questões de cunho constitucional, especialmente emissão de pareceres, e atuação judicial e extrajudicial em processos que envolvam a administração pública direta e indireta, inclusive em tribunais de contas.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service">
                                <i class="fa fa-wordpress"></i>
                                <h2>Previdência Privada</h2>
                                <p>
                                    Atuação no ramo da previdência complementar, especialmente perante as entidades de previdência privada, prestando consultoria no que tange às relações entre entidade previdenciária e patrocinadora, entidade previdenciária e associado.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service">
                                <i class="fa fa-html5"></i>
                                <h2>Direito Tributário e Financeiro</h2>
                                <p>
                                    Atuação judicial e extrajudicial em causas de natureza fiscal e de finanças públicas, com acompanhamento dos respectivos processos nas diversas instâncias administrativas e jurisdicionais.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service">
                                <i class="fa fa-users"></i>
                                <h2>Direito Civil</h2>
                                <p>
                                    Assessoria em contratos civis, comerciais, financeiros, de seguros; constituição de pessoas jurídicas. Responsabilidade civil.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service">
                                <i class="fa fa-google-plus-square"></i>
                                <h2>Direito do Consumidor</h2>
                                <p>
                                    Atuação preventiva e judicial em questões que envolvam relação de consumo.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service">
                                <i class="fa fa-facebook-square"></i>
                                <h2>Direito Processual Civil</h2>
                                <p>
                                    Advocacia contenciosa em todas as instâncias judiciais, com expertise em ações de improbidade administrativa e ações civis públicas.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service">
                                <i class="fa fa-facebook-square"></i>
                                <h2>Direito Bancário e Liquidações Extrajudiciais</h2>
                                <p>
                                    Assessoria a instituições financeiras, inclusive as sob regime especial. Atuação judicial e extrajudicial na defesa de interesses de credores, devedores, sócios minoritários de instituições financeiras com liquidação decretada, seja na habilitação, seja na negociação de créditos.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service">
                                <i class="fa fa-facebook-square"></i>
                                <h2>Direito Societário e Empresarial</h2>
                                <p>
                                    Atuação na constituição de sociedades e em aquisições ou vendas de participações societárias.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service">
                                <i class="fa fa-facebook-square"></i>
                                <h2>Direito Econômico</h2>
                                <p>
                                    Assessoria em operações relativas à  legislação antitruste perante órgãos de defesa da concorrência e tribunais de justiça, compreendendo os atos de concentração e condutas que envolvam o abuso do poder econômico.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service">
                                <i class="fa fa-facebook-square"></i>
                                <h2>Auditoria Legal</h2>
                                <p>
                                    Análise e apresentação da situação legal das empresas auditadas, examinando questões societárias, trabalhistas, fiscais, econômicas, com análise dos processos judiciais e administrativos pendentes, bem como as potenciais repercussões legais de fusão, incorporação, alienação ou qualquer alteração estrutural da empresa.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-service">
                                <i class="fa fa-facebook-square"></i>
                                <h2>Direito Penal e Processual Penal</h2>
                                <p>
                                    Atuação em todas as instâncias judiciais, com expertise nos crimes da Lei 7.492/86 (Crimes contra o Sistema Financeiro Nacional).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#service-->
