<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Fale Concosco</h2>
                    <p>Alguma dúvida, necessidade ou querendo marcar uma visita? Entre em contato com a gente!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="pattern"></div>
            <div class="row text-center clearfix">
                {#<div class="col-sm-6">#}
                {#<div class="contact-address">#}
                {#<address>#}
                {#<p>#}
                {#<span>Devs</span>Cluster#}
                {#</p>#}
                {#<strong>36 North Kafrul#}
                {#<br>Dhaka Cantonment Area#}
                {#<br> Dhaka-1206, Bangladesh#}
                {#</strong><br>#}
                {#<small>#}
                {#( Lorem ipsum dolor sit amet, consectetuer adipiscing elit )#}
                {#</small>#}
                {#</address>#}
                {#<div class="social-icons">#}
                {#<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a>#}
                {#<a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-dribbble"></i></a>#}
                {#<a href="#"><i class="fa fa-linkedin"></i></a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                <div class="col-sm-12">
                    <div id="contact-form-section">
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="contact-form" class="contact" name="contact-form" method="get" action="{{ RAIZ }}">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control name-field" required placeholder="Nome"></div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control mail-field" required placeholder="Email">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" required class="form-control" rows="8" placeholder="Mensagem"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="button" id="btn-send-contato" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!--/#contact-->
