<section id="contact">

    {% include 'pages/home/sections/mapa.twig' %}

    <div class="col-sm-12 text-center topo-section">
        <h1 class="title-one">Fale conosco</h1>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="pattern"></div>
            <div class="row text-center clearfix">
                <div class="col-sm-6">
                    <div class="contact-address">
                        <address>
                            <p>
                            <span>Amaury Nunes &<br>
                            Advogados Associados</span>
                            </p>
                            <strong>SAUS Quadra 4, Lotes 9/10
                                <br>Ed. Victoria Office Tower, Salas 729/732
                            </strong><br>
                            <small>
                                CEP 70.070-040, Brasília-DF, Brasil
                            </small>
                        </address>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/amaurynuneseadvogadosassociados/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/amaurynunesadv" target="_blank"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="contact-form-section">
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="contact-form" class="contact" name="contact-form" method="post" action="{{ RAIZ }}email">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control name-field" required placeholder="Nome"></div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control mail-field" required placeholder="Email">
                            </div>
                            <div class="form-group">
                                <textarea name="message" id="message" required class="form-control" rows="8" placeholder="Mensagem"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="button" id="btn-send-contato" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!--/#contact-->
