<section id="our-team" style="height: 950px;">
    <div class="col-sm-12 text-center topo-section">
        <h1 class="title-one">Equipe</h1>
    </div>

    <style>
        .divGrupo {
            margin-left: 0px !important;
            margin-right: 0px !important;

            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .grupo {
            width: 100%;
            height:795px;
        }

        .ulGrupo {
            list-style-type: none;
            padding: 0px !important;
            margin: 0px !important;
        }

        .ulGrupo li {
            list-style: none;
            float: left;
            width: calc(100% / 9);
            display: inline-block;
            border-left: 1px solid #ccc;
            border-right: 1px solid #c5c5c5;
        }

        .divGrupo2 {
            width: 100%;
        }

        .divGrupo2 div {
            float: left;
            width: calc(100% / 9);
        }

        .divGrupo2 div img {
            width: 100%;
        }

        #divGrupoConteudo {
            padding-left: 220px;
        }

        #divGrupoConteudoCorpo {
            display: none;
            /*background-color: #2a00ff;*/
            /*opacity: 0;*/
        }
    </style>

    <div id="divGrupo" class="divGrupo col-sm-12 col-md-12 col-lg-12" style="height: 800px;">
        <ul class="ulGrupo list-group" style="margin: 0px; text-align: left; float: none; position: absolute; top: 0px; right: auto; width: 100%; bottom: auto; left: 0px;">
            <li class="grupo-li grupo-li-1" user-id="1"></li>
            <li class="grupo-li grupo-li-2" user-id="3"></li>
            <li class="grupo-li grupo-li-3" user-id="6"></li>
            <li class="grupo-li grupo-li-4" user-id="1"></li>
            <li class="grupo-li grupo-li-5" user-id="1"></li>
            <li class="grupo-li grupo-li-6" user-id="1"></li>
            <li class="grupo-li grupo-li-7" user-id="1"></li>
            <li class="grupo-li grupo-li-8" user-id="1"></li>
            <li class="grupo-li grupo-li-9" user-id="1"></li>
        </ul>
        <div id="divGrupoConteudo">
            <div id="divGrupoConteudoCorpo">

            </div>
        </div>
    </div>

</section>