<section id="sobre">
    <div class="container">
        <div class="text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Escritório</h2>
/            </div>
        </div>
        <div class="about-us">
            <div class="row">
                <div class="col-sm-12">
                    {#<h3>Por que nós?</h3>#}
                    <div class="col-sm-12">
                        <p class="p-just">
                            Amaury Nunes — Advogados Associados oferece uma advocacia artesanal de elevado padrão, compromissada com o interesse de seus clientes e balizada na reta aplicação do Direito fundada em inabaláveis princípios éticos. Tem o compromisso de não ceder à tentação do gigantismo e de manter-se como uma estrutura que permita respeitar sempre o lema da advocacia artesanal, abraçado desde o seu começo.
                        </p>

                        <p class="p-just">
                            Para prestar um serviço jurídico diferenciado e conformado ao interesse, direito e à situação da clientela, o Escritório lastreia-se na experiência, especialização e qualificação dos seus sócios, associados e estagiários.
                            O sócio titular do Escritório, Jorge Amaury Maia Nunes, alia, à advocacia privada, um passado de profícua atuação na advocacia pública, na qual exerceu as funções de Consultor Jurídico do Ministério do Desenvolvimento, Indústria e Comércio, Coordenador de Assuntos Jurídicos da Procuradoria Geral da Fazenda Nacional e Procurador do Banco Central do Brasil, além de intensa vivência acadêmica, da qual não se afasta, lecionando Direito em cursos de Graduação e Pós-Graduação da Universidade de Brasília – UnB e em outras entidades.
                            Os demais sócios, associados e estagiários, por sua vez, são egressos das melhores Faculdades de Direito de Brasília, destacando-se entre os seus pares, mercê de seus dotes individuais e do constante aperfeiçoamento profissional a que se submetem em decorrência da programação de treinamento promovido e patrocinado pelo próprio Escritório.
                            É nos atributos individuais de cada membro e na sincronia de sua atuação que se sustenta a excelência técnica de Amaury Nunes — Advogados Associados na prestação de serviços jurídicos.
                            Entre os clientes de Amaury Nunes — Advogados Associados encontram-se desde pessoas jurídicas de grande porte, como instituições financeiras, companhias de aviação civil, empresas de telefonia e entidades de previdência privada, até pessoas físicas. O Escritório atende também aos interesses jurídicos de entes públicos, tendo como clientes Estados da Federação e centenas de Municípios.
                            Com o objetivo de oferecer a seus clientes serviços de elevada qualidade, aliados a conduta ética intransponível, guiam o dia-a-dia do escritório o aprofundar-se constante na compreensão dos debates jurídicos e a preocupação com o cordial e sincero relacionamento entre seus membros e, em particular, de todos eles com os clientes.
                        </p>


                        <p><h1>Organização</h1></p>
                        <p class="p-just">
                            Cada cliente, em Amaury Nunes Advogados, é recebido por um sócio, que se responsabiliza pessoalmente pela relação institucional, bem como pela qualidade do serviço prestado. Cumpre ao sócio formar a equipe, por ele encabeçada e composta pelos integrantes do escritório, que melhor atenda Ã  demanda formulada.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#about-us-->
