<section id="sobre">
    <div class="col-sm-12 text-center topo-section marcador fundo">
        {#<div class="col-sm-8 col-sm-offset-2">#}
            <h1 class="title-one">Escritório</h1>
        {#</div>#}
    </div>

    <div class="container margin-20-bottom">
        <div class="about-us">
            <div class="row">
                <div class="col-sm-12">
                    {#<h3>Por que nós?</h3>#}
                    <div class="col-sm-12 margin-20-top">
                        {{ escritorio | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {#<div class="container margin-20-bottom">#}
        {#<div class="about-us">#}
            {#<div class="row">#}
                {#<div class="col-sm-12">#}
                    {#<h3>Por que nós?</h3>#}
                    {#<div class="col-sm-12 margin-20-top">#}
                        {#<p class="p-just">#}
                            {#Amaury Nunes — Advogados Associados oferece uma advocacia artesanal de elevado padrão, compromissada com o interesse de seus clientes e balizada na reta aplicação do Direito fundada em inabaláveis princípios éticos. Tem o compromisso de não ceder à tentação do gigantismo e de manter-se como uma estrutura que permita respeitar sempre o lema da advocacia artesanal, abraçado desde o seu começo.#}
                        {#</p>#}

                        {#<p class="p-just">#}
                            {#Para prestar um serviço jurídico diferenciado e conformado ao interesse, direito e à situação da clientela, o Escritório lastreia-se na experiência, especialização e qualificação dos seus sócios, associados e estagiários.#}
                            {#O sócio titular do Escritório, Jorge Amaury Maia Nunes, alia, à advocacia privada, um passado de profícua atuação na advocacia pública, na qual exerceu as funções de Consultor Jurídico do Ministério do Desenvolvimento, Indústria e Comércio, Coordenador de Assuntos Jurídicos da Procuradoria Geral da Fazenda Nacional e Procurador do Banco Central do Brasil, além de intensa vivência acadêmica, da qual não se afasta, lecionando Direito em cursos de Graduação e Pós-Graduação da Universidade de Brasília – UnB e em outras entidades.#}
                            {#Os demais sócios, associados e estagiários, por sua vez, são egressos das melhores Faculdades de Direito de Brasília, destacando-se entre os seus pares, mercê de seus dotes individuais e do constante aperfeiçoamento profissional a que se submetem em decorrência da programação de treinamento promovido e patrocinado pelo próprio Escritório.#}
                            {#É nos atributos individuais de cada membro e na sincronia de sua atuação que se sustenta a excelência técnica de Amaury Nunes — Advogados Associados na prestação de serviços jurídicos.#}
                            {#Entre os clientes de Amaury Nunes — Advogados Associados encontram-se desde pessoas jurídicas de grande porte, como instituições financeiras, companhias de aviação civil, empresas de telefonia e entidades de previdência privada, até pessoas físicas. O Escritório atende também aos interesses jurídicos de entes públicos, tendo como clientes Estados da Federação e centenas de Municípios.#}
                            {#Com o objetivo de oferecer a seus clientes serviços de elevada qualidade, aliados a conduta ética intransponível, guiam o dia-a-dia do escritório o aprofundar-se constante na compreensão dos debates jurídicos e a preocupação com o cordial e sincero relacionamento entre seus membros e, em particular, de todos eles com os clientes.#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<div class="container margin-20-bottom">#}
        {#<div class="about-us">#}
            {#<div class="row">#}
                {#<div class="col-sm-12">#}
                    {#<h3>Por que nós?</h3>#}
                    {#<div class="col-sm-12">#}
                        {#<p><h1>Organização</h1></p>#}
                        {#<p class="p-just">#}
                            {#Cada cliente, em Amaury Nunes Advogados, é recebido por um sócio, que se responsabiliza pessoalmente pela relação institucional, bem como pela qualidade do serviço prestado. Cumpre ao sócio formar a equipe, por ele encabeçada e composta pelos integrantes do escritório, que melhor atenda Ã  demanda formulada.#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<div class="container margin-20-bottom">#}
        {#<div class="about-us">#}
            {#<div class="row">#}
                {#<div class="col-lg-12 col-sm-12">#}
                    {#<div class="col-lg-4 col-sm-4">#}
                        {#<img src="{{ RAIZ }}web/images/socios/amaury.png" class="img-responsive" alt="">#}
                    {#</div>#}
                    {#<div class="col-lg-8 col-sm-8">#}
                        {#<h3>Jorge Amaury Maia Nunes - Sócio Fundador</h3>#}
                        {#<p class="p-just">#}
                            {#Mestre em Direito pela Universidade Federal do Pará (1994) e doutor em Direito pela Universidade de São Paulo (2007), atuando principalmente nos seguintes temas: Direito Processual Civil, Direito Constitucional, Teoria Geral do Direito: segurança jurídica, ativismo judicial, acesso à justiça. Professor aposentado da Universidade de Brasília (1995-2015). Presidente da Associação Brasiliense de Direito Processual Civil - ABCP; Direito adjunto do Centro Brasil de Mediação e Arbitragem - CEBRAMAR; ex-diretor da Escola Superior da Advocacia  - ESA, da OAB/DF; autor de livros; palestrante.#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<div class="container margin-20-bottom">#}
        {#<div class="about-us">#}
            {#<div class="row">#}
                {#<div class="col-lg-12 col-sm-12">#}
                    {#<div class="col-lg-8 col-sm-8">#}
                        {#<h3>Tatiana Nunes Valls – Sócia</h3>#}
                        {#<p class="p-just">#}
                            {#Mestre em Direito Constitucional, atuando com ênfase em Direito Constitucional, Direito Administrativo, Direito Civil, Direito do Consumidor, Direito Econômico e Direito Tributário; integrante da comissão de arbitragem da OAB-DF.#}
                        {#</p>#}
                        {#<p>#}
                            {#Currículo Lattes:#}
                            {#<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4446972P0">http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4446972P0</a>#}
                        {#</p>#}
                    {#</div>#}
                    {#<div class="col-lg-4 col-sm-4">#}
                        {#<img src="{{ RAIZ }}web/images/socios/tati.png" class="img-responsive" alt="">#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#<div class="container margin-20-bottom">#}
        {#<div class="about-us">#}
            {#<div class="row">#}
                {#<div class="col-lg-12 col-sm-12">#}
                    {#<div class="col-lg-4 col-sm-4">#}
                        {#<img src="{{ RAIZ }}web/images/socios/lenda.png" class="img-responsive" alt="">#}
                    {#</div>#}
                    {#<div class="col-lg-8 col-sm-8">#}
                        {#<h3>Lenda Tariana Dib Faria Neves – Sócia</h3>#}
                        {#<p class="p-just">#}
                            {#Pós-graduanda em Direito Processual Civil, Direito do Trabalho e Previdenciário, atuando com ênfase em Direito Trabalho, Direito Administrativo e Direito Constitucional.#}
                        {#</p>#}
                        {#<p>#}
                            {#Currículo Lattes:#}
                            {#<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4499789Z1">http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4499789Z1</a>#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
</section><!--/#about-us-->
