<section id="our-team">
    <div class="col-sm-12 text-center topo-section">
        <h1 class="title-one">Nosso Time</h1>
    </div>
    <div class="container">
        <div id="team-carousel" class="carousel slide" data-interval="false">
            <a class="member-left" href="#team-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="member-right" href="#team-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            <div class="carousel-inner team-members">

                {% for time in nossotime %}
                    {% if cont == 5 %}
                        {% set cont = 0 %}
                        <div class="row item active">
                    {% endif %}

                    {% if cont == 4 %}
                        {% set cont = 0 %}
                        </div>
                        <div class="row item">
                    {% endif %}

                    <div class="col-sm-6 col-md-3">
                        <div class="single-member">
                            <img src="{{ time.foto }}" alt="team member" />
                            <h4>{{ time.nome }}</h4>
                            <h5>{{ time.funcao }}</h5>
                            <p></p>
                            <div class="socials text-center">
                                <input type="button" class="btn btn-success" value="CURRÃCULO">
                            </div>
                        </div>
                    </div>

                    {% set cont = cont + 1 %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>